<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/modal-logout.css">
</head>
<body>
    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <p>Are you sure you want to logout?</p>
            <button id="confirmLogout">Logout</button>
            <button id="cancelLogout">Cancel</button>
        </div>
    </div>
</body>
</html>
